{% extends 'base.html' %}

{% block title %}Desktop{% endblock %}

{% block content %}

<header class="masthead">
  <div class="masthead-inner container">
    <h1>ACA</h1>

    <div class="aca">
        <img src="/static/img/pirates.png" class="img-circle" />
    </div>

    <p>OPEN HOUSE&nbsp;&nbsp;&middot;&nbsp;&nbsp;2013</p>

    <div class="netid">
        <div class="input-group">
            <span class="input-group-addon" style="color:#666;"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" placeholder="UW NETID">
        </div>

        <button type="button" class="btn btn-info" style="display:block; width:100%; margin-top:.5em;">SUBMIT</button>

    </div>
  </div>
</header>

<div class="content">

    <div class="content-inner container">

        <h3><span class="glyphicon glyphicon-bullhorn" style="vertical-align:text-bottom;margin-right:10px;"></span>STATIONS</h3>
        <ul>
            <li>
                <div class="media">
                  <a class="" href="#">
                    <img class="media-object img-circle" src="/static/img/badge-bg.png">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Quality Assurance (QA)</h4>
                    <div class="media-description">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</div>
                    <div class="media-meta"><strong>Presenter(s)</strong> Bob Smith, John Dope</div>
                  </div>
                </div>
            </li>

            <li>
                <div class="media">
                  <a class="" href="#">
                    <img class="media-object img-circle" src="/static/img/badge-bg3.png" >
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Collaboration Tools</h4>
                    <div class="media-description">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</div>
                    <div class="media-meta"><strong>Presenter(s)</strong> Bob Smith, John Dope</div>
                  </div>
                </div>
            </li>

            <li>
                <div class="media">
                  <a class="" href="#">
                    <img class="media-object img-circle" src="/static/img/badge-bg2.png" >
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Remote Collaboration</h4>
                    <div class="media-description">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</div>
                    <div class="media-meta"><strong>Presenter(s)</strong> Bob Smith, John Dope</div>
                  </div>
                </div>
            </li>

            <li>
                <div class="media">
                  <a class="" href="#">
                    <img class="media-object img-circle" src="/static/img/badge-bg.png" >
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Student Staff</h4>
                    <div class="media-description">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</div>
                  </div>
                </div>
            </li>

            <li>
                <div class="media">
                  <a class="" href="#">
                    <img class="media-object img-circle" src="/static/img/badge-bg3.png" >
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Mobile Development</h4>
                    <div class="media-description">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</div>
                  </div>
                </div>
            </li>

            <li>
                <div class="media">
                  <a class="" href="#">
                    <img class="media-object img-circle" src="/static/img/badge-bg2.png" >
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Core Values</h4>
                    <div class="media-description">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</div>
                  </div>
                </div>
            </li>

            <li>
                <div class="media">
                  <a class="" href="#">
                    <img class="media-object img-circle" src="/static/img/badge-bg.png" >
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">MediaAmp</h4>
                    <div class="media-description">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</div>
                  </div>
                </div>
            </li>

            <li>
                <div class="media">
                  <a class="" href="#">
                    <img class="media-object img-circle" src="/static/img/badge-bg2.png" >
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">UX Consoltations</h4>
                    <div class="media-description">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</div>
                  </div>
                </div>
            </li>

        </ul>

    </div><!-- /.container -->
</div>


{% endblock %}